<section class="py-16 mx-auto flex">
  <div class="flex flex-col justify-center mx-auto">
    <div class="flex flex-row mx-auto text-center mt-8">
      <p class="text">
        Developed by
        <a
          target="_blank"
          style="color:#007bff"
          href="https://stkngesk.tech"
          rel="nofollow">StkngEsk</a
        >
        - Repository
        <a
          target="_blank"
          style="color:#007bff"
          href="https://github.com/StkngEsk/github-contrib-calendar-astro"
          rel="nofollow">Github</a
        >
      </p>
    </div>
  </div>
</section>
